name: Deploy Laravel PPDB to Docker

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: 43.129.55.182
          username: ubuntu
          password: G?57!9Q#W]t7RDmFpjj
          port: 22
          script: |
            cd ~/repo/ppdb-laravel
            chmod +x deploy.sh
            ./deploy.sh


